.back{
    width: 1400px;
    height: 1000px;
    background-color: #D74680;
}

.text {
    padding-top: 45px;
    width: 450px;
    height: 75px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-left: 425px;
    display: flex;
    justify-content: center;
}

.hun {
    display: flex;
    font-style: italic;
    width: 400px;
    height: 100px;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    margin: 100px 100px;
    color: #fff;
}

.text1 {
    display: flex;
}

.text2 {
    display: flex;
}

.text3 {
    width: 1440px;
    display: flex;
}

.text4 {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFDD99;
    margin-top: 100px;
}

.name {
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top: 130px;
}

.tsenher {
    width: 1440px;
    height: 107px;
    background: #344B8E;
}

.face {
    display: flex;
    width: 98px;
    height: 35.34px;
    font-weight: 600;
    font-size: 22.5752px;
    text-align: center;
}