.head{
    height: 100%;
    background-color: #E7F1F8;
    display: grid;
}
.hed2{
    display: grid;
    grid-template-rows: 100px auto 35% 35% 100px;
}
.layer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.layer1-2{
    width: 70px;
    height: 4px;
    background-color: gray;
    border: hidden;
    border-radius: 3px;
}
.a2{
    margin: 10px auto;
    color: rgb(56, 56, 56);
}
.layer2{
    display: flex;
    justify-content: space-evenly;
}
.layer2-1{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}
.layer2-1-2{
    color: #30BAE7;
    margin-bottom: 10px;
}
.layer2-1-3{
    text-align: center;
    color: gray;
}
.layer2-1-4{
    margin-top: 40px;
    display: flex;
}
.b1{
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30BAE7;
    color: white;
}
.layer2-2{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layer2-2-2{
    color: #30BAE7;
    margin-bottom: 10px;
}
.layer2-2-3{
    text-align: center;
    color: gray;
}
.layer2-2-4{
    margin-top: 40px;
    display: flex;
}
.layer2-3{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layer2-3-2{
    color: #30BAE7;
    margin-bottom: 10px;
}
.layer2-3-3{
    text-align: center;
    color: gray;
}
.layer2-3-4{
    margin-top: 40px;
    display: flex;
}
.layer3{
    display: flex;
    justify-content: space-evenly;
}
.layer3-1{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layer3-1-2{
    color: #30BAE7;
    margin-bottom: 10px;
}
.layer3-1-3{
    text-align: center;
    color: gray;
}
.layer3-1-4{
    margin-top: 40px;
    display: flex;
}
.layer3-2{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layer3-2-2{
    color: #30BAE7;
    margin-bottom: 10px;
}
.layer3-2-3{
    text-align: center;
    color: gray;
}
.layer3-2-4{
    margin-top: 40px;
    display: flex;
}
.layer3-3{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layer3-3-2{
    color: #30BAE7;
    margin-bottom: 10px;
}
.layer3-3-3{
    text-align: center;
    color: gray;
}
.layer3-3-4{
    margin-top: 40px;
    display: flex;
}
.b1:hover{
    color: orange;
    cursor: pointer;
}