.cat:hover {
    transform: scale(2);
    transition: 2s;
}

.cat {
    justify-self: center;
    transition: 2s ease-in;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}

#rm {
    animation: img 2s linear 1s infinite;
}

#container:hover #rm {
    display: block;
    height: 40px;
}
@keyframes img{
    from {
        background-color: aqua;
    }
    to{
        background-color: blueviolet;
    }

}
