body{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 290px;
    height: 290px;
    border-radius: 1%;
    transform: translateY(100px);
    background-color: red;
    animation: random-name 3s linear 1s infinite;
}
@keyframes random-name {
    0%{
        background-color: brown;
        border-radius: 1%;
        transform: translateY(-100px);
        opacity: 0;
    }
    50%{
        background-color: blue;
        border-radius: 0.5;
        transform: translateY(-150px);
        opacity: 0.5;
    }
    100%{
        background-color: black;
        border-radius: 0.5;
        transform: translateY(-200px);
        opacity: 1; 
    }
}