*{
    margin: 0%;
}
.container{
    width: 100%;
    height: 5300px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 300px 1000px 1000px 1000px 1000px 1000px;
}
.a {
    border: 1px solid red;
}
