 * {
     margin: 0%;
 }

 .head1 {
     display: grid;
     grid-template-rows: 25% auto;
     background-color: #59007B;
 }

 .facewindow1 {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .nike {
     width: 100px;
     height: 80px;
 }

 .menu {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .menu1-1 {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 70px;
     height: 25px;
     border: hidden;
     background-color: white;
     border-radius: 5px;
     cursor: pointer;
 }

 .menu1-1:hover {
     color: #EB7D4B;
     background-color: #59007B;
 }

 .menu1 {
     margin-left: 10px;
     margin-right: 10px;
     color: white;
     cursor: pointer;
 }

 .menu1:hover {
     color: #EB7D4B;
 }

 .facewindow2 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }

 .text7 {
     border: hidden;
     color: white;
     width: 60%;
     text-align: center;
 }

 .button {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 200px;
     height: 50px;
     color: white;
     border: hidden;
     background-color: #EB7D4B;
     border-radius: 3px;
 }

 .name {
     padding-top: 20px;
     margin: 0px 810px 337px 114px;
     height: 130px;
     width: 588px;
     font-weight: 550px;
     font-size: 60px;
     line-height: 65px;
     color: #7D7D7D;
 }

 .tal {
     width: 850px;
 }

 .text {
     font-weight: 500px;
     font-size: 20px;
     line-height: 29px;
     margin-top: 51px;
     color: #7D7D7D;
 }

 .zurg2 {
     border-radius: 350px;
     margin-top: 100px;
     margin-left: 150px;
     height: 700px;
 }

 .CENTER {
     display: flex;
     flex-direction: row;
 }

 .zurg3 {
     margin-left: 100px;
     width: 500px;
     height: 500px;
 }

 .zurg4 {
     height: 300px;
     width: 450px;
 }

 .text9 {
     font-weight: 400;
     font-size: 30px;
     line-height: 70px;
     color: #818080;
 }

 .skill {
     display: flex;
     flex-direction: row;
 }

 .ehnii2 {
     margin: 100px;
 }

 .text8 {
     position: absolute;
     margin-left: 742.18px;
     width: 85px;
     height: 48px;
     font-weight: 600;
     font-size: 32.5581px;
     line-height: 48px;
     color: #F37A7A;
 }

 .skill {
     margin-left: 100px;
 }

 .contact {
     font-size: 30px;
     color: #F37A7A;
     position: absolute;
     margin-left: 900px;
 }

 .contect {
     height: 471px;
     width: 636px;
 }

 .email {
     margin-left: 100px;
     margin-top: 100px;
     position: absolute;
     height: 100px;
     width: 514px;
     font-size: 32px;

 }

 .message {
     margin-left: 100px;
     font-size: 32px;
     position: absolute;
     margin-top: 210px;
     height: 263px;
     width: 514px;
 }

 .send {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 66px;
     width: 181px;
     background-color: rgb(123, 123, 255);
     margin-left: 900px;
     font-size: 32px;
     border-radius: 5px;
     margin-top: 20px;
 }

 .Contact {
     margin-left: 300px;
 }

 .text69 {
     padding-top: 100px;
     padding-bottom: 60px;
     padding-left: 700px;
     font-weight: 700;
     font-size: 48px;
     color: #4A6CFA;

 }

 .buttn {
    margin-left: 900px ;
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 500;
     font-size: 14px;
     text-align: center;
     text-transform: uppercase;
     color: #FFFFFF;
     height: 56px;
     width: 176px;
     background: #4A6CFA;
     border-radius: 28px;
 }